/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/
/*---------------------------------------/*
 # GENERIC - BOOTSTRAP
/*---------------------------------------*/
.navbar-collapse {
  flex-grow: initial !important;
}

.navbar-toggler {
  border: none !important;
  box-shadow: none !important;
}
.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(20,0,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-toggler .navbar-toggler-icon-2 {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/
body {
  background-color: #fefefe !important;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
li {
  font-family: "arsenica-variable", sans-serif !important;
}

.c-portfoliohtml,
.c-portfoliobody {
  height: 100%;
  margin: 0;
  padding: 0;
}

/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/
/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/
.c-nav {
  position: sticky !important;
  background-color: #fefefe !important;
  top: 0;
  z-index: 1000;
  border-bottom: solid 3px #1400ff;
}
.c-nav__logo {
  text-decoration: none;
  color: #1400ff;
  font-size: 25px;
}
.c-nav__link {
  color: #1400ff !important;
  font-size: 25px !important;
  display: inline-block;
  border-bottom: solid 3px transparent !important;
  transition: border-bottom-color 0.3s ease-in-out !important;
  text-decoration: none !important;
  margin-bottom: 0;
  padding-bottom: 0.2rem !important;
}
.c-nav__link:hover {
  border-bottom-color: #1400ff !important;
  text-decoration: none !important;
}
.c-nav__link--active {
  border-bottom: solid 3px #1400ff !important;
}

.c-nav2 {
  position: sticky !important;
  background-color: #1400ff !important;
  top: 0;
  z-index: 1000;
  border-bottom: solid 3px #fefefe;
}
.c-nav2__logo {
  text-decoration: none;
  color: #fefefe;
  font-size: 25px;
}
.c-nav2__link {
  color: #fefefe !important;
  font-size: 25px !important;
  display: inline-block;
  border-bottom: solid 3px transparent !important;
  transition: border-bottom-color 0.3s ease-in-out !important;
  text-decoration: none !important;
  margin-bottom: 0;
  padding-bottom: 0.2rem !important;
}
.c-nav2__link:hover {
  border-bottom-color: #fefefe !important;
  text-decoration: none !important;
}
.c-nav2__link--active {
  border-bottom: solid 3px #fefefe !important;
}

.c-header {
  position: relative;
  height: -moz-max-content;
  height: max-content;
  border-bottom: solid 3px #1400ff;
  margin-bottom: solid 3px #1400ff;
}
.c-header__img {
  width: 500px;
  height: auto;
  border-radius: 65px;
  margin-top: 2rem;
  display: block;
  margin-left: auto;
  margin-right: 2rem;
  z-index: 0;
}
@media (max-width: 1600px) {
  .c-header__img {
    width: 400px;
  }
}
@media (max-width: 1250px) {
  .c-header__img {
    width: 300px;
  }
}
@media (max-width: 992px) {
  .c-header__img {
    width: 200px;
  }
}
.c-header__titel {
  font-size: 500px;
  color: #1400ff;
  position: relative;
  z-index: 1;
  margin-top: -30rem;
}
@media (max-width: 1600px) {
  .c-header__titel {
    font-size: 400px;
  }
}
@media (max-width: 1250px) {
  .c-header__titel {
    font-size: 200px;
    margin-top: -15rem;
  }
}
@media (max-width: 992px) {
  .c-header__titel {
    font-size: 150px;
    margin-top: -10rem;
  }
}
@media (max-width: 480px) {
  .c-header__titel {
    font-size: 100px;
    margin-top: -5rem;
  }
}

.c-main {
  position: relative;
  text-align: right;
  margin-right: 2rem;
  margin-top: 20rem;
  margin-bottom: 20rem;
}
@media (max-width: 768px) {
  .c-main {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}
.c-main__text {
  font-size: 70px;
  color: #1400ff;
}
@media (max-width: 1250px) {
  .c-main__text {
    font-size: 50px;
  }
}
@media (max-width: 768px) {
  .c-main__text {
    font-size: 30px;
  }
}

.c-footer {
  background-color: #1400ff;
  padding: 2rem 1rem;
}
.c-footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c-footer__logo {
  width: 100px;
  height: auto;
}
.c-footer__email {
  margin: 0;
  color: #fefefe;
  word-break: break-all;
  margin-right: 1rem;
}
@media (max-width: 768px) {
  .c-footer__email {
    width: 50%;
  }
}

.c-footer2 {
  border-top: solid 3px #fefefe;
  margin-top: 2rem;
}

.c-portfolio {
  margin-top: 4rem;
}
.c-portfolio__resp {
  margin-top: 10rem !important;
}
.c-portfolio__cardimg {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 0.7rem;
}
.c-portfolio__cardimg:hover {
  transform: scale(1.05);
}
.c-portfolio__card--2 {
  margin-top: 10rem !important;
}
.c-portfolio__row {
  overflow-x: auto;
  overflow-y: auto;
  max-height: 80vh;
  width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.c-portfolio__row::-webkit-scrollbar {
  display: none;
}
.c-portfolio__cardtext {
  color: #fefefe;
  font-size: 30px;
  text-shadow: 4px 4px 16px rgba(0, 0, 0, 0.8);
}

.c-portfoliobody {
  background-color: #1400ff !important;
  background-image: url("../imgs/portfolio/workworkworkwork.png");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}
.c-portfoliobody p {
  color: #fefefe;
  font-size: 30px;
}

.c-about {
  position: relative;
}
.c-about__img {
  width: 100%;
  height: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
  position: sticky;
  top: 8rem;
}
.c-about__text {
  font-size: 30px;
  color: #1400ff;
  margin-top: 4rem;
}
@media (max-width: 992px) {
  .c-about__text {
    font-size: 25px;
  }
}
.c-about__link {
  text-decoration: none;
  color: #1400ff;
  font-size: 20px;
  display: inline-block;
  border-bottom: 3px solid transparent;
  transition: border-bottom-color 0.3s ease-in-out;
  word-break: break-word;
}
.c-about__link:hover {
  border-bottom-color: #1400ff;
  text-decoration: none;
}

.c-detail {
  position: relative;
}
.c-detail__row {
  position: relative;
}
.c-detail__img {
  width: 100%;
  height: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.c-detail__titel {
  font-size: 60px;
  color: #1400ff;
  margin-bottom: 2rem;
}
@media (max-width: 992px) {
  .c-detail__titel {
    font-size: 40px;
  }
}
.c-detail__texts {
  margin-top: 4rem !important;
  margin-bottom: 2rem;
  position: sticky;
  top: 6rem;
}
.c-detail__text {
  font-size: 16px;
  color: #1400ff;
}
.c-detail__vid {
  width: 100%;
  height: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.c-detail__vid video {
  width: 100%;
  height: auto;
  display: block;
  outline: none;
  border-radius: 20px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
}
.c-detail__list {
  list-style-type: none;
}
.c-detail__list::before {
  content: "-";
  color: #1400ff;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/