/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/

$main-color: #1400ff;
$secondary-color: #fefefe;

$font-size1: 25px;
$expressive-heading: 500px;
$font-size2: 70px;

$random-text: 30px;
$normal-text: 20px;
$titels: 60px;
/*---------------------------------------/*
 # GENERIC - BOOTSTRAP
/*---------------------------------------*/
.navbar-collapse {
  flex-grow: initial !important;
}

.navbar-toggler {
  border: none !important;
  box-shadow: none !important;
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(20,0,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  .navbar-toggler-icon-2 {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
  }
}
/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/
body {
  background-color: $secondary-color !important;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
li {
  font-family: 'arsenica-variable', sans-serif !important;
}

.c-portfoliohtml,
.c-portfoliobody {
  height: 100%;
  margin: 0;
  padding: 0;
}
/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/

/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/
.c-nav {
  position: sticky !important;
  background-color: $secondary-color !important;
  top: 0;
  z-index: 1000;
  &__logo {
    text-decoration: none;
    color: $main-color;
    font-size: $font-size1;
  }
  &__link {
    color: $main-color !important;
    font-size: $font-size1 !important;
    display: inline-block;
    border-bottom: solid 3px transparent !important;
    transition: border-bottom-color 0.3s ease-in-out !important;
    text-decoration: none !important;
    margin-bottom: 0;
    padding-bottom: 0.2rem !important;
    &:hover {
      border-bottom-color: $main-color !important;
      text-decoration: none !important;
    }
    &--active {
      border-bottom: solid 3px $main-color !important;
    }
  }
  border-bottom: solid 3px $main-color;
}
.c-nav2 {
  position: sticky !important;
  background-color: $main-color !important;
  top: 0;
  z-index: 1000;
  &__logo {
    text-decoration: none;
    color: $secondary-color;
    font-size: $font-size1;
  }
  &__link {
    color: $secondary-color !important;
    font-size: $font-size1 !important;
    display: inline-block;
    border-bottom: solid 3px transparent !important;
    transition: border-bottom-color 0.3s ease-in-out !important;
    text-decoration: none !important;
    margin-bottom: 0;
    padding-bottom: 0.2rem !important;
    &:hover {
      border-bottom-color: $secondary-color !important;
      text-decoration: none !important;
    }
    &--active {
      border-bottom: solid 3px $secondary-color !important;
    }
  }
  border-bottom: solid 3px $secondary-color;
}

.c-header {
  position: relative;
  height: max-content;
  border-bottom: solid 3px $main-color;
  &__img {
    width: 500px;
    height: auto;
    border-radius: 65px;
    margin-top: 2rem;
    display: block;
    margin-left: auto;
    margin-right: 2rem;
    z-index: 0;
    @media (max-width: 1600px) {
      width: 400px;
    }
    @media (max-width: 1250px) {
      width: 300px;
    }
    @media (max-width: 992px) {
      width: 200px;
    }
  }
  &__titel {
    font-size: $expressive-heading;
    color: $main-color;
    position: relative;
    z-index: 1;
    margin-top: -30rem;
    @media (max-width: 1600px) {
      font-size: 400px;
    }
    @media (max-width: 1250px) {
      font-size: 200px;
      margin-top: -15rem;
    }
    @media (max-width: 992px) {
      font-size: 150px;
      margin-top: -10rem;
    }
    @media (max-width: 480px) {
      font-size: 100px;
      margin-top: -5rem;
    }
  }
  margin-bottom: solid 3px $main-color;
}

.c-main {
  position: relative;
  text-align: right;
  margin-right: 2rem;
  margin-top: 20rem;
  margin-bottom: 20rem;
  @media (max-width: 768px) {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  &__text {
    font-size: $font-size2;
    color: $main-color;
    @media (max-width: 1250px) {
      font-size: 50px;
    }
    @media (max-width: 768px) {
      font-size: 30px;
    }
  }
}

.c-footer {
  background-color: $main-color;
  padding: 2rem 1rem;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    width: 100px;
    height: auto;
  }
  &__email {
    margin: 0;
    color: $secondary-color;
    word-break: break-all;
    margin-right: 1rem;
    @media (max-width: 768px) {
      width: 50%;
    }
  }
}

.c-footer2 {
  border-top: solid 3px $secondary-color;
  margin-top: 2rem;
  // display: none;
}

.c-portfolio {
  margin-top: 4rem;
  &__resp {
    margin-top: 10rem !important;
  }

  &__cardimg {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 0.7rem;
    &:hover {
      transform: scale(1.05);
    }
  }
  &__card {
    &--2 {
      margin-top: 10rem !important;
    }
  }
  &__row {
    overflow-x: auto;
    overflow-y: auto;
    max-height: 80vh;
    width: 100%;
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  &__cardtext {
    color: $secondary-color;
    font-size: $random-text;
    text-shadow: 4px 4px 16px rgba(0, 0, 0, 0.8);
  }
}

.c-portfoliobody {
  background-color: $main-color !important;
  background-image: url('../imgs/portfolio/workworkworkwork.png');
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  p {
    color: $secondary-color;
    font-size: $random-text;
  }
}

.c-about {
  position: relative;
  &__img {
    width: 100%;
    height: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    position: sticky;
    top: 8rem;
  }
  &__text {
    font-size: $random-text;
    color: $main-color;
    margin-top: 4rem;
    @media (max-width: 992px) {
      font-size: $random-text - 5px;
    }
  }

  &__link {
    text-decoration: none;
    color: $main-color;
    font-size: $normal-text;
    display: inline-block;
    border-bottom: 3px solid transparent;
    transition: border-bottom-color 0.3s ease-in-out;
    word-break: break-word;
    &:hover {
      border-bottom-color: $main-color;
      text-decoration: none;
    }
  }
}
.c-detail {
  position: relative;
  &__row {
    position: relative;
  }
  &__img {
    width: 100%;
    height: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  &__titel {
    font-size: $titels;
    color: $main-color;
    margin-bottom: 2rem;
    @media (max-width: 992px) {
      font-size: $titels - 20px;
    }
  }
  &__texts {
    margin-top: 4rem !important;
    margin-bottom: 2rem;
    position: sticky;
    top: 6rem;
  }
  &__text {
    font-size: 16px;
    color: $main-color;
  }
  &__vid {
    width: 100%;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    video {
      width: 100%;
      height: auto;
      display: block;
      outline: none;
      border-radius: 20px;
      box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
    }
  }
  &__list {
    list-style-type: none;
    &::before {
      content: '-';
      color: $main-color;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }
}
/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/
